* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    background-image: url(../images/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #03203C;
    display: flex;
    justify-content: center;
    align-items: center;  
  }
  
  .container{
      height: 40vh;
      background-color: rgba(101, 63, 241, 0.537);
      position: absolute;
      width: 60vw;
      display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 1rem;
     gap: 1rem;
  }
  
  .keys {
    position: relative;
    padding: 1rem;
    text-transform: uppercase;
    background-color: #6A1B4D;
    color: #fff;
    font-size: 1.5rem;
    border: 2px solid #ffd700;
    border-radius: .5rem;
    width: 4rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma;
  }